<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Message</title>
  </head>
  <body>
  	<div class="container">
      <div class="row">
      	<div class="col-md-3 offset-md-4">
		  <a href="/messages">To message </a>

		  <div>Message: <%= @message["text"] %></div>
		  <br/>
		  <div>Comments: </div>
		  <% @comments.each do |elem| %>
	  	    <div><%= elem["text"] %> <a style="color:red" href="/message/<%= @message["id"] %>/delete/<%= elem["id"] %>">X</a> </div>
		  <% end %>

		  <form action="/message" method="POST">
		  	<div class="form-group">
       		  <input name="text" class="form-control"/>
       		</div>
	   		<button name="message" value="<%= @message["id"] %>" type="submit" class="btn btn-primary">Send</button>
		  </form>
		</div>
	  </div>
    </div>


  </body>

</html>